  <h3>Dominion</h3>

            <% card1 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card2 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card3 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card4 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card5 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card6 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card7 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card8 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card9 = "Cards/"+ rand(156).to_s + ".jpg" %>
            <% card10 = "Cards/"+ rand(156).to_s + ".jpg" %>

      <div class="row">
        <div class="twelve columns">
          <p>


<a href="javascript:ToggleDominion('DominionToggle');" class="button" id= "DominionToggle">Dominion</a>
<a href="javascript:ToggleDominion('In­trigueToggle');" class="button" id= "In­trigueToggle">In­trigue</a>
<a href="javascript:ToggleDominion('Sea­sideToggle');" class="button" id= "Sea­sideToggle">Sea­side</a>
<a href="javascript:ToggleDominion('Al­che­myToggle');" class="button" id= "Al­che­myToggle">Al­che­my</a>
<a href="javascript:ToggleDominion('Pros­per­i­tyToggle');" class="button" id= "Pros­per­i­tyToggle">Pros­per­i­ty</a>
<a href="javascript:ToggleDominion('Cor­nu­co­pi­aToggle');" class="button" id= "Cor­nu­co­pi­aToggle">Cor­nu­co­pi­a</a>
<a href="javascript:ToggleDominion('Hin­ter­landsToggle');" class="button" id= "Hin­ter­landsToggle">Hin­ter­lands</a>
<a href="javascript:ToggleDominion('PromoCardsToggle');" class="button" id= "PromoCardsToggle">Promo Cards</a>


          </p>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <p>

<script type="text/javascript">
  PlaceCards();
</script>


            </p>
        </div>
      </div>

  <center><a href="javascript:ChangeAllCard();" class="large alert button" id= "PromoCardsToggle">Randomize</a></center>
